# Take your API key and create and OAuth token, put them in this file
# and save it as .trello_cli.secret in your home file
TRELLO_CLI_API_KEY=put-the-api-key-for-your-trello-account-here
TRELLO_CLI_OAUTH_TOKEN=put-the-oauth-token-for-your-trello-account-here
